h1{ font-size: 24pt;
	text-align: center;
}
h2{ font-size: 18pt;
	text-align: center;
}
h2{ font-size: 18pt;
	text-align: center;
}
h3{ font-size: 18pt;
	text-align: center;
}
h4{ font-size: 18pt;
	text-align: center;
}



body { 
	background: gray; 
	color: lightpink;
	font-size: 18pt;
font-family: 'Nothing You Could Do', cursive;
}